{% extends "cash/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <h2>Log in</h2>
    <p>Don't have an account? <a href="{% url 'users:register' %}">Create one.</a></p>
{% endblock page_header %}

{% block content %}
    <form method="post" action="{% url 'users:login' %}" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button name="submit" class="btn btn-danger">Log in</button>
        {% endbuttons %}

        <input type="hidden" name="next" value="{% url 'cash:index' %}">
    </form>
{% endblock content %}
