{% extends "cash/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <h2>Register</h2>
    <p>Fill out the form below to create an account.</p>
{% endblock page_header %}

{% block content %}
    <form method="post" action="{% url 'users:register' %}">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button name="submit" class="btn btn-danger">Register</button>
        {% endbuttons %}

        <input type="hidden" name="next" value="{% url 'cash:index' %}">
    </form>
{% endblock content %}
